.container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0em;
  margin-bottom: 1.6em;
  font-family: $font-stack;

  &__title {
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  &__description {
    margin: 0;
    font-size: 1.5rem;
  }
}
