.container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  margin-bottom: 1.5em;
  font-family: $font-stack;

  &__title {
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  &__description {
    font-size: 1.7rem;
  }
}
